/* Reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F6F7;
    color: #000;
    text-align: center;
}

/* Banner Styles */
.banner-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F5F6F7;
}

.banner-image {
    width: 100%;
    height: auto;
    max-width: 720px;  /* Optional: limit max width */
    display: block;
    margin: 0 auto;
}

/* Content Below Banner */
.content {
    padding: 20px;
}

.learn-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
